
.messages {
	margin-left: 220px;
	height: 100%;
	overflow: auto;
}

.message {
	clear: both;
}

.user-change {
	margin-top: 10px;
}

.message-text {
	margin-left: 56px;
	margin-right: 50px;
	font-size: 15px;
	line-height: 22px;
}

.user-profile-image {
	float: left;
	width: 56px;
	height: 36px;
}

.user-profile-no-image {
	float: left;
	width: 56px;
	height: 29px;
}

.user-profile-image img {
	margin-left: 10px;
	margin-right: 10px;
	width: 36px;
	height: 36px;
}

.user-name-time {
	position: relative;
	margin-left: 56px;
}

.user-name-time time {
	margin-left: 5px;
	color: gray;
	font-size: 12px;
}

.user-name-time .user-name {
	font-weight: bold;
}

.day-divider {
	position: relative;
	padding: 10px 0px;
	text-align: center;
}

.day-divider hr {
	position: absolute;
	border-top: 1px solid #DDD;
	width: 100%;
	top: 20px;
	margin: 0;
}

.day-divider .day {
	background: white;
	padding: 0 10px;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	font-weight: 900;
}