
#header {
	height: 50px;
	width: 100%;
}

#sidebar-header {
	float: left;
	width: 220px;
	background-color: #045996;
	color: white;
	height: 50px;
}

#sidebar-header header {
	margin-left: 10px;
	line-height: 50px;
	font-weight: bold;
	font-size: 18px;
}

#message-header {
	padding-left: 10px;
	padding-top: 10px;
	margin-left: 220px;
}

.message-header-channel {
	font-size: 25px;
	font-weight: bold;
	float: left;
	width: calc(100vw - 300px);
}

.message-header-members {
	font-size: 10px;
	font-weight: bold;
	margin-top: 10px;
}

.message-header-members a {
	cursor: pointer;
}

